<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">

<main layout:fragment="content">
    <form th:action="@{/restaurant/list}" method="get">
        <ul>
            <li>
                <input type="text" name="search" th:value="${search}"
                       placeholder="검색어를 입력해 주세요">
            </li>
        </ul>
        <button type="submit">검색</button>
    </form>
    <div id="map" style="width:100%;height:500px;"></div>
    <script type="application/json" th:id="search-data" th:utext="${json}"></script>
</main>
</html>