<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <header th:fragment="common">
        <div class="top">
            <div class="left">
                <th:block th:if="${isLogin}">
                    <a th:href="@{/survey/diabetes}"
                       th:classappend="${requestURI.startsWith('/survey/diabetes')} ? 'active'"
                       th:text="#{당뇨_진단}"></a>
                    <a th:href="@{/restaurant}"
                       th:classappend="${requestURI == '/restaurant'} ? 'active'"
                       th:text="#{식당_찾기}"></a>
                </th:block>
            </div>
            <div class="right">
                <th:block th:if="${isLogin}">
                    <span th:text="${#messages.msg('LOGIN_MSG', loggedMember.name, loggedMember.email)}"></span>
                    <a th:href="@{/mypage/survey/diabetes}"
                       th:classappend="${requestURI == '/mypage/survey/diabetes'} ? 'active'"
                       th:text="#{마이페이지}"></a>
                    <a th:href="@{/logout}" th:text="#{로그아웃}"></a>
                    <a sec:authorize="hasAnyAuthority('ADMIN')" th:href="@{/admin}" th:text="#{사이트_관리}"></a>
                </th:block>
                <th:block th:unless="${isLogin}">
                    <a th:href="@{/member/join}"
                       th:classappend="${requestURI == '/member/join'} ? 'active'"
                       th:text="#{회원가입}"></a>
                    <a th:href="@{/member/login}"
                       th:classappend="${requestURI == '/member/login'} ? 'active'"
                       th:text="#{로그인}"></a>
                </th:block>
            </div>
        </div>
    </header>
</html>